<html>
 <head>
  <% include ../partials/head.ejs %>
 </head>
 <body>
  <% include ../partials/nav.ejs %>

  <div class="wrapper">

  <teaminfo>
  <div class="teaminfo">
   <h2>Team Budget</h2>
   <div>
    Team<br>
    Start:<br>
    Avail:<br>
    IfWonAll:
   </div>
   <% for (var i = 0; i < 12; i++) { %>
    <div>
    <%= budget[i][0] %><br>
    <%= budget[i][1] %><br>
    <%= budget[i][2] %><br>
    <%= budget[i][3] %>
    </div>
   <% } %>
  </div>
  </teaminfo>

  <activitylog>
   <div class="activitylog">
    <h1>Activity Log</h1>
    <div class="label">* new activity since last login</div>
    <% for (var i = 0; i < activityData.length; i++) { %>
     <div class="log_item">
      <% if (activityData[i][0] > lastLogin) { %>
       *
      <% } %>
      <span class="
       <% if (activityData[i][2] == 2) { %>
        close
       <% } else if (activityData[i][2]) { %>
        nominate
       <% } else { %>
        bid
       <% } %>
      "><%= activityData[i][1] %></span>
      <br/>
      <span class="time">
      <script>
       var date = new Date(<%= activityData[i][0] %> *1000);
       //var year = date.getFullYear();
       var month = date.getMonth() + 1;
       var day = date.getDate();
       var ampm = 'AM';
       var hours = date.getHours();
       if (hours > 12) {
        hours = hours - 12;
        ampm = 'PM';
       }
       if (hours == 0) {
        hours = 12;
       }
       var minutes = "0" + date.getMinutes();
       var seconds = "0" + date.getSeconds();

       // Will display time in 10:30:23 format
       var formattedTime = month + '/' + day + ' ' + hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2) + ' ' + ampm;
       document.write(formattedTime);
      </script>
      </span>
     </div>
    <% } %>
   </div>
  </activitylog>



  <allauction> 
  <div class="allauction">
 
  <% var posDisp = 'here' %>
  <% var curPlayer %>
  <% var nextPlayer %>
  <h1>Auction Board</h1>
   <div class="auctionboard">
   <div class="auctionplayer">
    <% for (var i = 0; i < BidData.length; i++) { %>
     <% if (BidData[i].secPos) { 
      posDisp = BidData[i].pos + '/' + BidData[i].secPos;
     } else {
      posDisp = BidData[i].pos;
     } %>
     <% curPlayer = posDisp + ' ' + BidData[i].firstName + ' ' + BidData[i].lastName; %>
     <% if (curPlayer !== nextPlayer) { %>
      <% if (i == 0) { %>
       <span class="playername"><a href="/bid.html/<%= curPlayer %>"><%= curPlayer %></a></span>
      <% } else { %>
       </div><div class="auctionplayer"><span class="playername"><a href="/bid.html/<%= curPlayer %>"><%= curPlayer %></a></span>
      <% } %>
     <% } %>
     <span class="bid"><span class="time">
      <script>
       var date = new Date(<%= BidData[i].bidTime %> *1000);
       var year = date.getFullYear();
       var month = date.getMonth() + 1;
       var day = date.getDate();
       var ampm = 'AM';
       var hours = date.getHours();
       if (hours > 12) {
        hours = hours - 12;
        ampm = 'PM';
       }
       if (hours == 0) {
        hours = 12;
       }
       var minutes = "0" + date.getMinutes();
       var seconds = "0" + date.getSeconds();

       // Will display time in 10:30:23 format
       var formattedTime = month + '/' + day + '/' + year + ' ' + hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2) + ' ' + ampm;
       document.write(formattedTime);
      </script>
      </span>
     <%= BidData[i].team %> - <%= BidData[i].bid %></span>
     <% nextPlayer = curPlayer %>
    <% } %>
   </div>
  </div>

  <% var posDisp %>
  <% var curPlayer %>
  <% var nextPlayer %>
  <h1>Closed Auctions</h1>
  <div class="closedboard">
   <div id="test" class="closedplayer">
    <% for (var i = 0; i < closed.length; i++) { %>
     <% if (closed[i].secPos) {
      posDisp = closed[i].pos + '/' + closed[i].secPos;
     } else {
      posDisp = closed[i].pos;
     } %>
     <% curPlayer = posDisp + ' ' + closed[i].firstName + ' ' + closed[i].lastName; %>
     <% if (curPlayer !== nextPlayer) { %>
      <% if (i == 0) { %>
       <span class="playername"><%= curPlayer %></span>
      <% } else { %>
       </div><div id="test" class="closedplayer"><span class="playername"><%= curPlayer %></span>
      <% } %>
     <% } %>
     <span class="bid"><span class="time">
      <script>
       var date = new Date(<%= closed[i].bidTime %> *1000);
       var year = date.getFullYear();
       var month = date.getMonth() + 1;
       var day = date.getDate();
       var ampm = 'AM';
       var hours = date.getHours();
       if (hours > 12) {
        hours = hours - 12;
        ampm = 'PM';
       }
       if (hours == 0) {
        hours = 12;
       }
       var minutes = "0" + date.getMinutes();
       var seconds = "0" + date.getSeconds();

       // Will display time in 10:30:23 format
       var formattedTime = month + '/' + day + '/' + year + ' ' + hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2) + ' ' + ampm;
       document.write(formattedTime);
      </script>
      </span>
     <%= closed[i].team %> - <%= closed[i].bid %></span>
     <% nextPlayer = curPlayer %>
    <% } %>
   </div>

  </div>

  </div>
  </allauction>

  </div>
 </body>
</html>
