<html>
 <head>
  <% include ../partials/head.ejs %>
 </head>
 <body>
  <h1>EFL 2018 Bidding page</h1>
  <form action="/bid.html" method="post">
   <input name="team" type="hidden" value="<%= teamShort %>">

  Player:&nbsp;
   <select name="player">
  <% var posDisp;
  var curPlayer;
  var nextPlayer;
  %>
  <% for (var i = 0; i < BidData.length; i++) { %>
    <% if (BidData[i].secPos) {
     posDisp = BidData[i].pos + '/' + BidData[i].secPos;
    } else {
     posDisp = BidData[i].pos;
    } %>
    <% curPlayer = posDisp + ' ' + BidData[i].firstName + ' ' + BidData[i].lastName; %>
    <% if (curPlayer !== nextPlayer) { %>
      <option value="<%= curPlayer %>" 
       <% if (curPlayer == playerID) { %>
        selected
       <% } %> 
      ><%= curPlayer %> - <%= BidData[i].team %> <%= BidData[i].bid %></option>
    <% } %>
    <% nextPlayer = curPlayer %>
  <% } %>
   </select>


   Bid:&nbsp;
   <input class="bid" type="number" name="bid">
   <input type="submit" name="submit" value="Place Bid">
  </form>
 </body>
</html>
